.navbar{
    display: flex;
    background:linear-gradientred(pink,black,green);
    padding: 40px;
    justify-content: space-evenly;

}
.Link{
    list-style: none;
    background-color: pink;
    text-decoration: none;
    padding: 40px;
    border:2px solid black;
    border-radius: 10px;

}
.Link:hover{
    background-color: seagreen;
    color: white;
}